.item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #173e43;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #202020;
    margin-bottom: 0.3rem;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    color: #7c7c7c;
    margin-top: 0.3rem;
  }

  .rightSec {
    text-align: center;
  }
  button {
    background: #173e43;
    font: inherit;
    border: 1px solid #173e43;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;

    &:hover,
    &:active {
      background: #22535a;
      border-color: #22535a;
    }
  }

  p {
    margin: 0;
  }
}
